<%- layout('../templates/login.ejs') %> 

<br><br><br>
<h1 align="center">Bienvenido a Alem Make Up</h1>

<a class="btn btn-success btn-block my-4" href="/cali/clientes" align="center">
    Sede Cali
</a>