<%- layout('../templates/cali.ejs') %>
<div class="container">
    <a class="btn btn-success btn-block my-4"
        href="/cali/productos/mostrar">
            Ver listado de productos
        </a>
    <div class="alert alert-danger" role="alert">
        Por favor suba un archivo
    </div>
    <div class=" nav justify-content-center" style="margin-top:50px;">        
     <div class="card border-info mb-3 " style="max-width: 24rem;">
            <div class="card-header" align="center"><h5>Subir archivo CSV</h5></div>
            <div class="card-body">
                    <form action="/cali/productos" method="post" enctype="multipart/form-data">
                        <input type="file" name="csvProductosCali"><br><br>
                        <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">Subir archivo</button></div>   
                    </form>
            </div>
      </div>
</div><br>