<%- layout('../templates/login.ejs') %>
<body>
    <div class="container">
        <h1 class="text-dark">Ventas</h1><br>
        <div id="app">
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@next"></script>
<script src="/public/js/ventas.js"></script>